@import "nullstyle.scss";

$yellow: #f8e9a1;
$red: #f76c6c;
$red2: #f89393;
$blue: #374785;


@keyframes hello {
    0% {
        color: $red;
        visibility: visible;
        transform: scale(0, 0) translateY(100px);
    }

    20% {
        color: white;
        transform: scale(1, 1) translateY(0);
    }

    100% {
        color: white;
        visibility: visible;
    }

}


@keyframes lets__start_button {
    0% {
        transform: scale(0, 0);
        visibility: visible;
    }

    20% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 1);
        visibility: visible;
    }
}

@keyframes paper {
    0% {

        top: 0%;
    }

    100% {

        top: 100%;
    }
}

body {
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    line-height: 1.5;

    span {
        color: transparent;
        -webkit-text-stroke: 1px #Fff;
        text-stroke: 1px #Fff;
    }
}

.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-70deg, rgb(247, 108, 108) 15%, rgb(55, 71, 133) 75%);
    color: $blue;
    position: relative;
    overflow: hidden;

    .nav {
        .nav__menu {
            width: 100vw;
            display: flex;
            justify-content: space-between;
            position: fixed;
            top: 0.8vw;
            z-index: 10;

            & a {
                display: block;
                padding: 1vw;


                &:active img {
                    transform: rotateY(180deg);
                    transition: all 0.6s ease 0s;
                }

                & img {
                    width: 10vw;
                }
            }
        }

        .nav__fullscreen {
            position: fixed;
            width: 100vw;
            height: 100vh;
            background: linear-gradient(-70deg, rgb(247, 108, 108) 15%, rgb(55, 71, 133) 75%);
            top: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            transition: all 0.6s ease 0s;
            z-index: 3;

            &:target {
                visibility: visible;
                opacity: 1;
                transform: translate(0px, 0px);
            }

            &:target .nav__menu-list {
                transform: translate(0, 0);
            }

            &:target .nav__body {
                transform: translate(0, 0);
            }

            &:target .nav__fullscreen_pic img {
                transform: translate(0, 0);
            }

            .nav__body {
                position: relative;
                min-height: 100%;
                padding: 3vw;
                transition: all 0.6s ease 0.2s;
            }

            .nav__menu-list {
                line-height: 2;
                position: absolute;
                top: 10vh;
                left: 10vw;
                transform: translate(0px, -300%);
                transition: all 0.6s ease 0s;

                & a {
                    color: #fff;
                    font-size: 10vw;
                    text-transform: uppercase;
                    transition: all 0.2s ease 0s;

                    &:active {
                        color: $red;
                        font-size: 11vw;
                    }
                }
            }

            .nav__fullscreen_pic img {
                position: absolute;
                top: 50vh;
                max-width: 90vw;
                transform: translate(0px, 300%);
                transition: all 0.6s ease 0s;
            }

            .nav__fullscreen_close {
                position: absolute;
                top: 10vh;
                right: 15vw;
                font-size: 10vw;
                text-decoration: none;
                color: #fff;
                z-index: 1;
                transition: all 0.2s ease 0s;
                line-height: 2;

                &:active {
                    transform: rotateY(180deg);
                    transition: all 0.6s ease 0s;
                }
            }
        }
    }

    .game {
        .inrodaction__first-section {

            padding: 0 12vw;
            height: 100vh;

            font-weight: bold;
            text-align: left;
            text-transform: uppercase;
            line-height: 0.8;

            .inrodaction__first-section_hello {
                position: absolute;
                top: 30vh;
                left: 12vw;
                visibility: hidden;
                font-size: 18vw;

                & p {
                    display: inline-block;
                    animation: hello 2s ease 1 normal 0s forwards;
                }
            }

            .inrodaction__first-section_lets-play {
                visibility: hidden;
                font-size: 20vw;
                position: absolute;
                top: 37vh;
                left: 12vw;

                & p {
                    display: inline-block;
                    animation: hello 2s ease 1 normal 1s forwards;

                    span {
                        font-size: 22vw;
                    }
                }

            }

            .inrodaction__first-section_buttons {
                visibility: hidden;
                position: absolute;
                top: 70vh;
                left: 12vw;

                .inrodaction__first-section_fullscreen-button {
                    display: none;
                }

                .inrodaction__first-section_start-button {
                    font-size: 15vw;
                    margin-top: 2.8vh;

                    &:active {
                        background-color: $red;
                        transition: all 0.6s ease 0s;
                    }

                    p {
                        color: #fff;
                        padding: 2vh 18.5vw;
                        border: 0.4vh solid $blue;
                        display: inline-block;
                        animation: lets__start_button 2s ease 1 normal running 2s forwards;
                    }
                }

            }
        }

        .inrodaction__second-section {
            visibility: hidden;
            opacity: 0;
            width: 100%;
            height: 100vh;

            .inrodaction__second-section_hero img {
                position: absolute;
                top: 33vh;
                max-height: 42vh;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, 0);
                transition: all 0.6s ease 0.2s;
            }

            .introdaction__second-section_look {
                display: flex;
                justify-content: space-between;
                width: 100vw;
                position: absolute;
                top: 76vh;
                padding: 8vw;

                img {
                    max-height: 7vh;
                    padding: 1vh 1vw;
                    margin: 0 0.6vw;
                    border: 0.4vw solid #fff;
                }

                p {
                    display: none;
                }
            }

            form {
                display: block;
                width: 84%;
                color: $red;
                transform: translate(0, 600px);
                transition: all 0.6s ease 0.2s;
                position: absolute;
                top: 8vh;
                left: 8vw;
                line-height: 0.5;

                input {
                    width: 100%;
                    color: $red;
                    padding: 0vh;
                    text-align: center;
                    font-size: 10vw;
                }

                .inrodaction__second-section_button_m {
                    padding: 0.5vh;
                    width: 49%;
                    color: #fff;
                    font-size: 10vw;
                    border: 0.4vh solid $red;
                    background-color: transparent;

                    &:active span {
                        color: #fff;
                        transition: all 0.6s ease 0s;
                    }
                }

                .inrodaction__second-section_button_f {
                    padding: 0.5vh;
                    width: 49%;
                    color: #fff;
                    font-size: 10vw;
                    border: 0.4vh solid $red;
                    background-color: transparent;

                    &:hover span {
                        color: #fff;
                        transition: all 0.6s ease 0s;
                    }
                }

                .inrodaction__second-section_button_go {
                    padding: 0.5vh;
                    width: 100%;
                    color: transparent;
                    -webkit-text-stroke: 1px #Fff;
                    text-stroke: 1px #Fff;
                    font-size: 10vw;
                    border: 0.4vh solid $red;
                    background-color: transparent;

                    &:active {
                        color: #fff;
                        transition: all 0.6s ease 0s;
                    }
                }
            }
        }

        .inrodaction__third-section {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 25vh;
            left: 8vw;
            width: 84%;

            .inrodaction__third-section_text {
                padding: 0.5vh;
                color: white;
                border: 0.4vh solid white;
                transform: translate(600px, 0px);
                transition: all 0.6s ease 0.2s;
            }

            .inrodaction__third-section_hello {
                display: block;
                font-size: 10vw;
                color: $red;
            }

            .inrodaction__third-section_rools {
                display: block;
                font-size: 7vw;
            }

            button {
                display: block;
                font-size: 10vw;
                padding: 0.5vh;
                color: transparent;
                -webkit-text-stroke: 1px #Fff;
                text-stroke: 1px #Fff;
                border: 0.4vh solid #fff;
                width: 100%;
                margin-top: 8vh;
                transform: translate(-600px, 0px);
                transition: all 0.6s ease 0.2s;
                background-color: transparent;

                &:active {
                    color: #fff;
                    transition: all 0.6s ease 0s;
                }
            }
        }

        .inactive {
            display: none;
            visibility: hidden;
            transition: all 0.5s ease 0s;
        }

        .active {
            display: block;
            visibility: visible;
            transition: all 0.5s ease 0s;
        }

        .game__process {
            display: none;

            .game__process_window {
                position: absolute;
                top: 15vh;
                left: 0vw;
                width: 100vw;
                height: 70vh;
                background-color: rgb(247, 108, 108, 0.5);
                border: 0.4vh solid $blue;
                overflow: hidden;

                .background-image {
                    position: absolute;
                    top: 15vh;
                    left: 0;
                    opacity: 0.4;

                    & img {
                        width: 100vw;
                        height: 70vh;
                    }
                }

                .hero {
                    width: 7vw;
                    height: 10vh;
                    position: absolute;
                    left: 50%;
                    bottom: -6%;

                    img {
                        max-width: 10vw;
                        height: auto;
                    }
                }

                .paper {
                    font-size: 1.5vw;
                    overflow: hidden;
                    padding: 0.4vw;
                    box-shadow: 0.4vh 0.4vh $blue;
                    width: 5vw;
                    height: 3vh;
                    background-color: white;
                    position: absolute;
                    border-radius: 0.5vw;
                    left: 50%;
                    top: 0%;
                    animation: paper 2s ease 1 normal 1s forwards;
                    opacity: 0;
                }

            }

            .game__process_bar {
                position: absolute;
                top: 90vh;
                left: 5vw;
                width: 90vw;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 5vw;
                color: white;

                .game__process_bar-points {
                    display: flex;
                    align-items: center;

                    & img {
                        max-height: 7vh;
                        width: auto;
                    }
                }

                .game__process_bar-health {
                    display: flex;

                    & img {
                        display: block;
                        max-height: 7vh;
                        width: auto;
                    }
                }
            }
        }

        .game__over {
            display: none;

            .game__over_window {
                position: absolute;
                top: 15vh;
                left: 0vw;
                width: 100vw;
                height: 70vh;
                background-color: white;
                border: 0.75vh solid $blue;
                overflow: hidden;

                p {
                    padding: 3vw 8vw;
                    font-size: 10vw;
                }

                .game__over_buttons {
                    position: absolute;
                    top: 15vh;
                    left: 8vw;

                    button {
                        width: 100%;
                        margin: 5vh 3vw;
                        padding: 1vw;
                        font-size: 9vw;
                        background-color: white;
                        color: $blue;
                        border: 0.4vh solid $red;

                        &:active {
                            color: white;
                            background-color: $red;
                            transition: all 0.5s ease 0s;
                        }
                    }
                }
            }
        }
    }
}