* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@-webkit-keyframes hello {
  0% {
    color: #f76c6c;
    visibility: visible;
    -webkit-transform: scale(0, 0) translateY(100px);
            transform: scale(0, 0) translateY(100px);
  }
  20% {
    color: white;
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    color: white;
    visibility: visible;
  }
}

@keyframes hello {
  0% {
    color: #f76c6c;
    visibility: visible;
    -webkit-transform: scale(0, 0) translateY(100px);
            transform: scale(0, 0) translateY(100px);
  }
  20% {
    color: white;
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    color: white;
    visibility: visible;
  }
}
@-webkit-keyframes lets__start_button {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    visibility: visible;
  }
  20% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    visibility: visible;
  }
}
@keyframes lets__start_button {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    visibility: visible;
  }
  20% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    visibility: visible;
  }
}
@-webkit-keyframes paper {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}
@keyframes paper {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}
body {
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
  line-height: 1.5;
}
body span {
  color: transparent;
  -webkit-text-stroke: 1px #Fff;
  text-stroke: 1px #Fff;
}

.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-70deg, rgb(247, 108, 108) 15%, rgb(55, 71, 133) 75%);
  color: #374785;
  position: relative;
  overflow: hidden;
}
.container .nav .nav__menu {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0.8vw;
  z-index: 10;
}
.container .nav .nav__menu a {
  display: block;
  padding: 1vw;
}
.container .nav .nav__menu a:hover img {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.container .nav .nav__menu a img {
  width: 4.5vw;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.container .nav .nav__fullscreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-70deg, rgb(247, 108, 108) 15%, rgb(55, 71, 133) 75%);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  z-index: 3;
}
.container .nav .nav__fullscreen:target {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.container .nav .nav__fullscreen:target .nav__menu-list {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.container .nav .nav__fullscreen:target .nav__body {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.container .nav .nav__fullscreen:target .nav__fullscreen_pic img {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.container .nav .nav__fullscreen .nav__body {
  position: relative;
  min-height: 100%;
  padding: 3vw;
  -webkit-transition: all 0.6s ease 0.2s;
  transition: all 0.6s ease 0.2s;
}
.container .nav .nav__fullscreen .nav__menu-list {
  line-height: 2;
  position: absolute;
  -webkit-transform: translate(0px, -300%);
          transform: translate(0px, -300%);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.container .nav .nav__fullscreen .nav__menu-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15vh;
  font-size: 4.5vw;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.container .nav .nav__fullscreen .nav__menu-list li a {
  color: #fff;
}
.container .nav .nav__fullscreen .nav__menu-list li:hover {
  font-size: 5vw;
}
.container .nav .nav__fullscreen .nav__menu-list li:hover a {
  color: #f76c6c;
}
.container .nav .nav__fullscreen .nav__fullscreen_pic img {
  position: absolute;
  max-width: 32vw;
  -webkit-transform: translate(0px, 300%);
          transform: translate(0px, 300%);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.container .nav .nav__fullscreen .nav__fullscreen_close {
  position: absolute;
  top: 15vh;
  right: 10vw;
  font-size: 5vw;
  text-decoration: none;
  color: #fff;
  z-index: 1;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.container .nav .nav__fullscreen .nav__fullscreen_close:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.container .game .inrodaction__first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12vw;
  height: 100vh;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  line-height: 0.8;
}
.container .game .inrodaction__first-section .inrodaction__first-section_hello {
  visibility: hidden;
  font-size: 10vw;
}
.container .game .inrodaction__first-section .inrodaction__first-section_hello p {
  display: inline-block;
  -webkit-animation: hello 2s ease 1 normal 0s forwards;
          animation: hello 2s ease 1 normal 0s forwards;
}
.container .game .inrodaction__first-section .inrodaction__first-section_lets-play {
  visibility: hidden;
  font-size: 11vw;
}
.container .game .inrodaction__first-section .inrodaction__first-section_lets-play p {
  display: inline-block;
  -webkit-animation: hello 2s ease 1 normal 1s forwards;
          animation: hello 2s ease 1 normal 1s forwards;
}
.container .game .inrodaction__first-section .inrodaction__first-section_lets-play p span {
  font-size: 12.5vw;
}
.container .game .inrodaction__first-section .inrodaction__first-section_buttons {
  visibility: hidden;
}
.container .game .inrodaction__first-section .inrodaction__first-section_buttons .inrodaction__first-section_fullscreen-button {
  font-size: 10vw;
  color: #fff;
  margin-bottom: 2.8vh;
}
.container .game .inrodaction__first-section .inrodaction__first-section_buttons .inrodaction__first-section_fullscreen-button img {
  padding: 1.5vw 12vw;
  border: 0.4vh solid #fff;
  -webkit-animation: lets__start_button 2s ease 1 normal running 2s forwards;
          animation: lets__start_button 2s ease 1 normal running 2s forwards;
  max-width: 31.6vw;
}
.container .game .inrodaction__first-section .inrodaction__first-section_buttons .inrodaction__first-section_fullscreen-button img:hover {
  background-color: rgba(55, 71, 133, 0.5);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.container .game .inrodaction__first-section .inrodaction__first-section_buttons .inrodaction__first-section_start-button {
  font-size: 10vw;
  color: transparent;
  -webkit-text-stroke: 2px #374785;
  text-stroke: 2px #374785;
  margin-top: 2.8vh;
}
.container .game .inrodaction__first-section .inrodaction__first-section_buttons .inrodaction__first-section_start-button:hover {
  color: #374785;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.container .game .inrodaction__first-section .inrodaction__first-section_buttons .inrodaction__first-section_start-button p {
  padding: 0px 3vw;
  border: 0.4vh solid #374785;
  display: inline-block;
  -webkit-animation: lets__start_button 2s ease 1 normal running 2s forwards;
          animation: lets__start_button 2s ease 1 normal running 2s forwards;
}
.container .game .inrodaction__second-section {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .game .inrodaction__second-section .inrodaction__second-section_hero img {
  max-height: 70vh;
  -webkit-transform: translate(0, -600px);
          transform: translate(0, -600px);
  -webkit-transition: all 0.6s ease 0.2s;
  transition: all 0.6s ease 0.2s;
}
.container .game .inrodaction__second-section .introdaction__second-section_look {
  display: -ms-grid;
  display: grid;
}
.container .game .inrodaction__second-section .introdaction__second-section_look img {
  max-height: 9vh;
  padding: 2vh 1vw;
  margin: 0.4vh 0;
  border: 0.4vh solid #fff;
}
.container .game .inrodaction__second-section .introdaction__second-section_look p {
  font-size: 1vw;
  padding: 1vw 0;
}
.container .game .inrodaction__second-section form {
  display: block;
  width: 40%;
  color: #f76c6c;
  -webkit-transform: translate(0, 600px);
          transform: translate(0, 600px);
  -webkit-transition: all 0.6s ease 0.2s;
  transition: all 0.6s ease 0.2s;
}
.container .game .inrodaction__second-section form input {
  width: 100%;
  color: #f76c6c;
  padding: 1.5vh;
  text-align: center;
  font-size: 5vw;
}
.container .game .inrodaction__second-section form .inrodaction__second-section_button_m {
  padding: 1.5vh;
  width: 49%;
  color: #fff;
  font-size: 5vw;
  border: 0.4vh solid #f76c6c;
  background-color: transparent;
}
.container .game .inrodaction__second-section form .inrodaction__second-section_button_m:hover span {
  color: #fff;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.container .game .inrodaction__second-section form .inrodaction__second-section_button_f {
  padding: 1.5vh;
  width: 49%;
  color: #fff;
  font-size: 5vw;
  border: 0.4vh solid #f76c6c;
  background-color: transparent;
}
.container .game .inrodaction__second-section form .inrodaction__second-section_button_f:hover span {
  color: #fff;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.container .game .inrodaction__second-section form .inrodaction__second-section_button_go {
  padding: 1.5vh;
  width: 100%;
  color: transparent;
  -webkit-text-stroke: 1px #Fff;
  text-stroke: 1px #Fff;
  font-size: 5vw;
  border: 0.4vh solid #f76c6c;
  background-color: transparent;
}
.container .game .inrodaction__second-section form .inrodaction__second-section_button_go:hover {
  color: #fff;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.container .game .inrodaction__third-section {
  visibility: hidden;
  opacity: 0;
  margin: 20vw auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
}
.container .game .inrodaction__third-section .inrodaction__third-section_text {
  padding: 1.5vh;
  color: white;
  border: 0.4vh solid white;
  -webkit-transform: translate(600px, 0px);
          transform: translate(600px, 0px);
  -webkit-transition: all 0.6s ease 0.2s;
  transition: all 0.6s ease 0.2s;
}
.container .game .inrodaction__third-section .inrodaction__third-section_hello {
  display: block;
  font-size: 6.5vw;
  color: #f76c6c;
}
.container .game .inrodaction__third-section .inrodaction__third-section_rools {
  display: block;
  font-size: 2.7vw;
}
.container .game .inrodaction__third-section button {
  display: block;
  font-size: 7vw;
  padding: 1.5vh;
  color: transparent;
  -webkit-text-stroke: 1px #Fff;
  text-stroke: 1px #Fff;
  border: 0.4vh solid #fff;
  width: 100%;
  margin-top: 8vh;
  -webkit-transform: translate(-600px, 0px);
          transform: translate(-600px, 0px);
  -webkit-transition: all 0.6s ease 0.2s;
  transition: all 0.6s ease 0.2s;
  background-color: transparent;
}
.container .game .inrodaction__third-section button:hover {
  color: #fff;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.container .game .inactive {
  display: none;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.container .game .active {
  display: block;
  visibility: visible;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.container .game .game__process {
  display: none;
}
.container .game .game__process .game__process_window {
  position: absolute;
  top: 15vh;
  left: 10vw;
  width: 80vw;
  height: 70vh;
  background-color: rgba(247, 108, 108, 0.5);
  border: 0.4vh solid #374785;
  overflow: hidden;
}
.container .game .game__process .game__process_window .background-image {
  position: absolute;
  top: 15vh;
  left: 0;
  opacity: 0.4;
}
.container .game .game__process .game__process_window .background-image img {
  width: 80vw;
  height: 70vh;
}
.container .game .game__process .game__process_window .hero {
  width: 5vw;
  height: 8vh;
  position: absolute;
  left: 50%;
  bottom: 0%;
}
.container .game .game__process .game__process_window .hero img {
  max-width: 5vw;
  height: auto;
}
.container .game .game__process .game__process_window .paper {
  font-size: 0.8vw;
  overflow: hidden;
  padding: 0.4vw;
  -webkit-box-shadow: 0.4vh 0.4vh #374785;
          box-shadow: 0.4vh 0.4vh #374785;
  width: 3vw;
  height: 5vh;
  background-color: white;
  position: absolute;
  border-radius: 0.5vw;
  left: 50%;
  top: 0%;
  -webkit-animation: paper 2s ease 1 normal 1s forwards;
          animation: paper 2s ease 1 normal 1s forwards;
  opacity: 0;
}
.container .game .game__process .game__process_bar {
  position: absolute;
  top: 86vh;
  left: 10vw;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 7.5vh;
  color: white;
}
.container .game .game__process .game__process_bar .game__process_bar-points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .game .game__process .game__process_bar .game__process_bar-points img {
  max-height: 13vh;
  width: auto;
}
.container .game .game__process .game__process_bar .game__process_bar-health {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .game .game__process .game__process_bar .game__process_bar-health img {
  display: block;
  max-height: 13vh;
  width: auto;
}
.container .game .game__over {
  display: none;
}
.container .game .game__over .game__over_window {
  position: absolute;
  top: 15vh;
  left: 10vw;
  width: 80vw;
  height: 70vh;
  background-color: white;
  border: 0.75vh solid #374785;
  overflow: hidden;
}
.container .game .game__over .game__over_window p {
  padding: 3vw 4vw;
  font-size: 7vw;
}
.container .game .game__over .game__over_window .game__over_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .game .game__over .game__over_window .game__over_buttons button {
  margin: 1vw 3vw;
  padding: 1vw;
  font-size: 9vw;
  background-color: white;
  color: #374785;
  border: 0.4vh solid #f76c6c;
}
.container .game .game__over .game__over_window .game__over_buttons button:hover {
  color: white;
  background-color: #f76c6c;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}