* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
  line-height: 1.5;
}
body h2 {
  font-size: 6vw;
  padding: 1.8vw;
}

.nav .nav__menu {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0.8vw;
  z-index: 10;
}
.nav .nav__menu a {
  display: block;
  padding: 1vw;
}
.nav .nav__menu a:hover img {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.nav .nav__menu a img {
  width: 7vw;
}
.nav .nav__fullscreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #374785;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  z-index: 3;
}
.nav .nav__fullscreen:target {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.nav .nav__fullscreen:target .nav__menu-list {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.nav .nav__fullscreen:target .nav__body {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.nav .nav__fullscreen:target .nav__fullscreen_pic img {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.nav .nav__fullscreen .nav__body {
  position: relative;
  min-height: 100%;
  padding: 3vw;
  -webkit-transition: all 0.6s ease 0.2s;
  transition: all 0.6s ease 0.2s;
}
.nav .nav__fullscreen .nav__menu-list {
  line-height: 2;
  position: absolute;
  -webkit-transform: translate(0px, -300%);
          transform: translate(0px, -300%);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.nav .nav__fullscreen .nav__menu-list a {
  color: #fff;
  font-size: 4.5vw;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.nav .nav__fullscreen .nav__menu-list a:hover {
  color: #f8e9a1;
  font-size: 5vw;
}
.nav .nav__fullscreen .nav__fullscreen_pic img {
  position: absolute;
  max-width: 32vw;
  -webkit-transform: translate(0px, 300%);
          transform: translate(0px, 300%);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.nav .nav__fullscreen .nav__fullscreen_close {
  position: absolute;
  top: 15vh;
  right: 10vw;
  font-size: 5vw;
  text-decoration: none;
  color: #fff;
  z-index: 1;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.nav .nav__fullscreen .nav__fullscreen_close:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.header {
  background-color: rgba(247, 108, 108, 0.9);
  padding-bottom: 6vh;
  color: #fff;
}
.header #background_video {
  position: fixed;
  left: 0;
  top: 0;
  background-size: cover;
  overflow: hidden;
  z-index: -1;
}
.header .header__main .header__welcome-text {
  color: #fff;
  font-size: 8.8vw;
  font-weight: bold;
  text-align: center;
  padding: 25vh 5vw 0px 5vw;
  text-transform: uppercase;
  line-height: 0.8;
}
.header .header__main .header__welcome-text #welc1 {
  -webkit-transform: translate(300%, 0);
          transform: translate(300%, 0);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.header .header__main .header__welcome-text #welc2 {
  -webkit-transform: translate(-300%, 0);
          transform: translate(-300%, 0);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.header .header__main .header__welcome-text #welc3 {
  -webkit-transform: translate(300%, 0);
          transform: translate(300%, 0);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.header .header__main .header__welcome-text #welc1.active,
.header .header__main .header__welcome-text #welc2.active,
.header .header__main .header__welcome-text #welc3.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.header .header__main .header__welcome-text span {
  color: transparent;
  -webkit-text-stroke: 1px #Fff;
  text-stroke: 1px #Fff;
}
.header .header__main #welc_scroll_img {
  max-width: 300px;
  height: 300px;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  display: block;
  position: absolute;
  -webkit-transform: translate(-500%, 0);
          transform: translate(-500%, 0);
  opacity: 0;
  transition: all 0.6s ease 0s;
}
.header .header__main #welc_scroll_img.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.header .header__main .header__secondary-text {
  font-size: 3vw;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 6fr 2fr 2fr;
  grid-template-columns: 2fr 2fr 6fr 2fr 2fr;
  -ms-grid-rows: 2fr 3fr 2fr;
  grid-template-rows: 2fr 3fr 2fr;
  justify-items: center;
}
.header .header__main .header__secondary-text > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.header .header__main .header__secondary-text > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.header .header__main .header__secondary-text > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.header .header__main .header__secondary-text > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.header .header__main .header__secondary-text > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.header .header__main .header__secondary-text > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.header .header__main .header__secondary-text > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.header .header__main .header__secondary-text > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.header .header__main .header__secondary-text > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
.header .header__main .header__secondary-text > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}
.header .header__main .header__secondary-text > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.header .header__main .header__secondary-text > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.header .header__main .header__secondary-text > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.header .header__main .header__secondary-text > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}
.header .header__main .header__secondary-text > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.header .header__main .header__secondary-text .header__secondary-text_text {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
  text-align: center;
  padding-top: 14vh;
}
.header .header__main .header__secondary-text .header__secondary-text_text a {
  color: #374785;
}
.header .header__main .header__secondary-text .header__secondary-text_text a:hover {
  text-decoration: underline;
}
.header .header__main .header__secondary-text .header__secondary-text_h2_1 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  font-size: 6vw;
  color: #f8e9a1;
}
.header .header__main .header__secondary-text .header__secondary-text_h2_2 {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 4;
  grid-column: 4;
  font-size: 6vw;
  color: #374785;
}

.section {
  z-index: 1;
  background-color: #Fff;
}
.section .section__center_left {
  display: none;
}
.section .section__center_right {
  display: none;
}
.section .section__center_right_background {
  display: none;
}
.section .section__right {
  font-size: 2.8vw;
  text-align: center;
}
.section .section__right h2 {
  color: #f76c6c;
}
.section .section__right p {
  color: #616161;
  text-align: justify;
}
.section .section__right .img_mobile {
  height: 100vh;
  width: 100vw;
}
.section .section__right .img_mobile img {
  max-height: 100vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.section .section__right .section__right_one {
  height: 100vh;
  padding: 9vh 8.5vw;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section .section__right .section__right_two {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  padding: 9vh 8.5vw;
}
.section .section__right .section__right_three {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  padding: 9vh 8.5vw;
}
.section .section__right .section__right_three a {
  color: #f76c6c;
}
.section .section__right .section__right_three a:hover {
  color: #374785;
}
.section .section__right .section__right_four {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  padding: 9vh 8.5vw;
}

.footer {
  background-color: rgba(0, 0, 0, 0.85);
  padding-bottom: 3vh;
  color: #fff;
  min-height: 100vh;
  min-width: 100%;
  position: absolute;
}
.footer .footer__header {
  font-size: 8.8vw;
  font-weight: bold;
  text-align: center;
  padding: 7vw;
  text-transform: uppercase;
  line-height: 0.8;
}
.footer .footer__header #footer__header_1 {
  -webkit-transform: translate(300%, 0);
          transform: translate(300%, 0);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.footer .footer__header #footer__header_2 {
  -webkit-transform: translate(-300%, 0);
          transform: translate(-300%, 0);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.footer .footer__header #footer__header_3 {
  -webkit-transform: translate(300%, 0);
          transform: translate(300%, 0);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.footer .footer__header #footer__header_1.active,
.footer .footer__header #footer__header_2.active,
.footer .footer__header #footer__header_3.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.footer .footer__header span {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
}
.footer .footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  bottom: 4vh;
}
.footer .footer__contacts #footer__contact_1 {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  opacity: 0;
  -webkit-transition: all 0.2s ease 0.2s;
  transition: all 0.2s ease 0.2s;
}
.footer .footer__contacts #footer__contact_2 {
  -webkit-transform: translate(0, -140%);
          transform: translate(0, -140%);
  opacity: 0;
  -webkit-transition: all 0.2s ease 0.3s;
  transition: all 0.2s ease 0.3s;
}
.footer .footer__contacts #footer__contact_3 {
  -webkit-transform: translate(0, -180%);
          transform: translate(0, -180%);
  opacity: 0;
  -webkit-transition: all 0.2s ease 0.4s;
  transition: all 0.2s ease 0.4s;
}
.footer .footer__contacts #footer__contact_4 {
  -webkit-transform: translate(0, -220%);
          transform: translate(0, -220%);
  opacity: 0;
  -webkit-transition: all 0.2s ease 0.5s;
  transition: all 0.2s ease 0.5s;
}
.footer .footer__contacts #footer__contact_1.active,
.footer .footer__contacts #footer__contact_2.active,
.footer .footer__contacts #footer__contact_3.active,
.footer .footer__contacts #footer__contact_4.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.footer .footer__contacts a:hover img {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.footer .footer__contacts img {
  height: 9vh;
}