* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
  line-height: 1.5;
}
body h2 {
  font-size: 8vw;
  padding: 10vw 10vw 0vw 10vw;
  color: #f76c6c;
  text-align: center;
}

.nav .nav__menu {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0.8vw;
  z-index: 10;
}
.nav .nav__menu a {
  display: block;
  padding: 1vw;
}
.nav .nav__menu a:active img {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.nav .nav__menu a img {
  width: 10vw;
}
.nav .nav__fullscreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-70deg, rgb(247, 108, 108) 15%, rgb(55, 71, 133) 75%);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  z-index: 3;
}
.nav .nav__fullscreen:target {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
.nav .nav__fullscreen:target .nav__menu-list {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.nav .nav__fullscreen:target .nav__body {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.nav .nav__fullscreen:target .nav__fullscreen_pic img {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.nav .nav__fullscreen .nav__body {
  position: relative;
  min-height: 100%;
  padding: 3vw;
  -webkit-transition: all 0.6s ease 0.2s;
  transition: all 0.6s ease 0.2s;
}
.nav .nav__fullscreen .nav__menu-list {
  line-height: 2;
  position: absolute;
  top: 10vh;
  left: 10vw;
  -webkit-transform: translate(0px, -300%);
          transform: translate(0px, -300%);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.nav .nav__fullscreen .nav__menu-list a {
  color: #fff;
  font-size: 10vw;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.nav .nav__fullscreen .nav__menu-list a:active {
  color: #f76c6c;
  font-size: 11vw;
}
.nav .nav__fullscreen .nav__fullscreen_pic img {
  position: absolute;
  top: 50vh;
  max-width: 90vw;
  -webkit-transform: translate(0px, 300%);
          transform: translate(0px, 300%);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.nav .nav__fullscreen .nav__fullscreen_close {
  position: absolute;
  top: 10vh;
  right: 15vw;
  font-size: 10vw;
  text-decoration: none;
  color: #fff;
  z-index: 1;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  line-height: 2;
}
.nav .nav__fullscreen .nav__fullscreen_close:active {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.header {
  background: linear-gradient(-70deg, rgb(247, 108, 108) 25%, rgb(55, 71, 133) 75%);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding-bottom: 6vh;
  color: #fff;
  position: relative;
}
.header .header__main .header__welcome-text {
  position: absolute;
  top: 10vh;
  left: 12vw;
  color: #fff;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  line-height: 0.8;
}
.header .header__main .header__welcome-text #welc1 {
  font-size: 23vw;
  -webkit-transform: translate(300%, 0);
          transform: translate(300%, 0);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.header .header__main .header__welcome-text #welc2 {
  font-size: 10.4vw;
  -webkit-transform: translate(-300%, 0);
          transform: translate(-300%, 0);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.header .header__main .header__welcome-text #welc3 {
  font-size: 18.4vw;
  -webkit-transform: translate(300%, 0);
          transform: translate(300%, 0);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.header .header__main .header__welcome-text #welc1.active,
.header .header__main .header__welcome-text #welc2.active,
.header .header__main .header__welcome-text #welc3.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.header .header__main .header__welcome-text span {
  color: transparent;
  -webkit-text-stroke: 1px #Fff;
  text-stroke: 1px #Fff;
}
.header .header__main .header__welcome-img #welc_img_1 {
  max-height: 35vh;
  position: absolute;
  top: 35vh;
  left: 29vw;
}
.header .header__main .header__welcome-img #welc_img_2 {
  max-height: 35vh;
  position: absolute;
  top: 36vh;
  left: 28vw;
}
.header .header__main #welc_scroll_img {
  width: auto;
  max-height: 20vh;
  display: block;
  position: absolute;
  top: 80vh;
  left: 30vw;
  -webkit-transform: translate(-500%, 0);
          transform: translate(-500%, 0);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.header .header__main #welc_scroll_img.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.section .img_mobile img {
  max-height: auto;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}
.section .section__left {
  display: none;
}
.section .section__center_left {
  display: none;
}
.section .section__center_right {
  display: none;
}
.section .section__center_right_background {
  display: none;
}
.section .section__right p {
  font-size: 4vw;
  text-align: justify;
  padding: 6vw;
  line-height: 1.5;
}

.footer {
  background: linear-gradient(-70deg, rgb(247, 108, 108) 15%, rgb(55, 71, 133) 75%);
  padding-bottom: 3vh;
  color: #fff;
  min-height: 100vh;
  min-width: 100%;
  position: relative;
  overflow: hidden;
}
.footer #background_video {
  display: none;
}
.footer .footer__play-game {
  position: absolute;
  top: 50vh;
  left: 10vw;
  width: 80%;
  border: 0.4vh solid #fff;
  font-size: 15vw;
  background-color: transparent;
}
.footer .footer__play-game a {
  color: transparent;
  -webkit-text-stroke: 1px #Fff;
  text-stroke: 1px #Fff;
  padding: 0.5vh;
}
.footer .footer__play-game a:active {
  color: #fff;
}
.footer .footer__header {
  position: absolute;
  top: 20vh;
  left: 12vw;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.8;
}
.footer .footer__header #footer__header_1 {
  font-size: 18.5vw;
  -webkit-transform: translate(300%, 0);
          transform: translate(300%, 0);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.footer .footer__header #footer__header_2 {
  font-size: 15vw;
  -webkit-transform: translate(-300%, 0);
          transform: translate(-300%, 0);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.footer .footer__header #footer__header_3 {
  font-size: 16vw;
  -webkit-transform: translate(300%, 0);
          transform: translate(300%, 0);
  opacity: 0;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.footer .footer__header #footer__header_1.active,
.footer .footer__header #footer__header_2.active,
.footer .footer__header #footer__header_3.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.footer .footer__header span {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
}
.footer .footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  bottom: 4vh;
}
.footer .footer__contacts a:active img {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.footer .footer__contacts img {
  height: 10vw;
}