@import "nullstyle.scss";

$yellow: #f8e9a1;
$red: #f76c6c;
$blue: #374785;


body {
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    line-height: 1.5;

    h2 {
        font-size: 3.8vw;
        padding: 1.8vw;
    }
}

.nav {
    .nav__menu {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0.8vw;
        z-index: 10;

        & a {
            display: block;
            padding: 1vw;


            &:hover img {
                transform: rotateY(180deg);

            }

            & img {
                width: 4.5vw;
                transition: all 0.6s ease 0s;
            }
        }
    }

    .nav__fullscreen {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(-70deg, rgb(247, 108, 108) 15%, rgb(55, 71, 133) 75%);
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.6s ease 0s;
        z-index: 3;

        &:target {
            visibility: visible;
            opacity: 1;
            transform: translate(0px, 0px);
        }

        &:target .nav__menu-list {
            transform: translate(0, 0);
        }

        &:target .nav__body {
            transform: translate(0, 0);
        }

        &:target .nav__fullscreen_pic img {
            transform: translate(0, 0);
        }

        .nav__body {
            position: relative;
            min-height: 100%;
            padding: 3vw;
            transition: all 0.6s ease 0.2s;
        }

        .nav__menu-list {
            line-height: 2;
            position: absolute;
            transform: translate(0px, -300%);
            transition: all 0.6s ease 0s;

            & li {
                a {
                    color: #fff;
                }

                display:flex;
                height:15vh;
                font-size: 4.5vw;
                text-transform: uppercase;
                transition: all 0.2s ease 0s;

                &:hover {
                    a {
                        color: $red;
                    }

                    font-size: 5vw;
                }
            }
        }

        .nav__fullscreen_pic img {
            position: absolute;
            max-width: 32vw;
            transform: translate(0px, 300%);
            transition: all 0.6s ease 0s;
        }

        .nav__fullscreen_close {
            position: absolute;
            top: 15vh;
            right: 10vw;
            font-size: 5vw;
            text-decoration: none;
            color: #fff;
            z-index: 1;
            transition: all 0.2s ease 0s;

            &:hover {
                transform: rotateY(180deg);
                transition: all 0.6s ease 0s;
            }
        }
    }
}

.header {
    background: linear-gradient(-70deg, rgb(247, 108, 108) 25%, rgb(55, 71, 133) 75%);
    height: 100vh;
    padding-bottom: 6vh;
    color: #fff;
    position: relative;

    .header__main {

        .header__welcome-text {
            position: absolute;
            top: 20vh;
            left: 12vw;
            color: #fff;
            font-weight: bold;
            text-align: left;
            text-transform: uppercase;
            line-height: 0.8;

            #welc1 {
                transform: translate(300%, 0);
                opacity: 0;
                transition: all 0.6s ease 0s;
                font-size: 15.5vw;
            }

            #welc2 {
                transform: translate(-300%, 0);
                opacity: 0;
                transition: all 0.6s ease 0s;
                font-size: 7vw;
            }

            #welc3 {
                transform: translate(300%, 0);
                opacity: 0;
                transition: all 0.6s ease 0s;
                font-size: 12.4vw;
            }

            #welc1.active,
            #welc2.active,
            #welc3.active {
                opacity: 1;
                transform: translate(0, 0);
            }

            & span {
                color: transparent;
                -webkit-text-stroke: 1px #Fff;
                text-stroke: 1px #Fff;
            }
        }

        .header__welcome-img {

            & #welc_img_1 {
                max-height: 30.9vw;
                position: absolute;
                top: 19.7vh;
                right: 12vw;
            }

            & #welc_img_2 {
                max-height: 31vw;
                position: absolute;
                top: 20vh;
                right: 13vw;
            }
        }

        #welc_scroll_img {
            width: auto;
            max-height: 30vh;
            transition: all 0.6s ease 0s;
            display: block;
            position: absolute;
            top: 70vh;
            left: 42.5vw;
            transform: translate(-500%, 0);
            opacity: 0;
            transition: all 0.6s ease 0s;
        }

        #welc_scroll_img.active {
            opacity: 1;
            transform: translate(0, 0);
        }


    }
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1;
    background-color: #Fff;
    height: 400vh;


    .img_mobile {
        display: none;
    }

    .section__left {
        grid-column: 1;
    }


    .section__center_left {
        position: absolute;
        color: #fff;
        font-size: 3vw;
        text-align: center;

        & .section__center_left-1 {
            position: absolute;
            width: 5vw;
            height: 10vh;
            background-color: $red;
            top: 47.5vh;
            left: 45vw;
            z-index: 1;
        }

        & .section__center_left-2 {
            position: absolute;
            width: 5vw;
            height: 10vh;
            background-color: $red;
            top: 147.5vh;
            left: 45vw;
            z-index: 1;
        }

        & .section__center_left-3 {
            position: absolute;
            width: 5vw;
            height: 10vh;
            background-color: $red;
            top: 247.5vh;
            left: 45vw;
            z-index: 1;
        }

        & .section__center_left-4 {
            position: absolute;
            width: 5vw;
            height: 10vh;
            background-color: $red;
            top: 347.5vh;
            left: 45vw;
            z-index: 1;
        }
    }

    .section__center_right {
        position: absolute;


        & .section__center_right-1 {
            position: absolute;
            width: 5vw;
            height: 100vh;
            background-image: url('img/index/pic_1.JPG');
            background-attachment: fixed;
            background-position: top left;
            background-size: auto 100vw;
            background-repeat: no-repeat;
            top: 0vh;
            left: 50vw;
            z-index: 1;
        }

        & .section__center_right-2 {
            position: absolute;
            width: 5vw;
            height: 100vh;
            background-image: url('img/index/pic_2.JPG');
            background-attachment: fixed;
            background-position: top left;
            background-size: auto 100vw;
            background-repeat: no-repeat;
            top: 100vh;
            left: 50vw;
            z-index: 1;
        }

        & .section__center_right-3 {
            position: absolute;
            width: 5vw;
            height: 100vh;
            background-image: url('img/index/pic_3.JPG');
            background-attachment: fixed;
            background-position: top left;
            background-size: auto 100vw;
            background-repeat: no-repeat;
            top: 200vh;
            left: 50vw;
            z-index: 1;
        }

        & .section__center_right-4 {
            position: absolute;
            width: 5vw;
            height: 100vh;
            background-image: url('img/index/pic_4.JPG');
            background-attachment: fixed;
            background-position: top left;
            background-size: auto 100vw;
            background-repeat: no-repeat;
            top: 300vh;
            left: 50vw;
            z-index: 1;
        }
    }

    .section__center_right_background {
        position: absolute;

        .section__center_right_background-1 {
            position: absolute;
            top: 0px;
            left: 50vw;
            width: 5vw;
            height: 47.5vh;
            background-color: #fff;
            z-index: 2;
        }

        .section__center_right_background-2 {
            position: absolute;
            top: 57.5vh;
            left: 50vw;
            width: 5vw;
            height: 90vh;
            background-color: #fff;
            z-index: 2;
        }

        .section__center_right_background-3 {
            position: absolute;
            top: 157.5vh;
            left: 50vw;
            width: 5vw;
            height: 90vh;
            background-color: #fff;
            z-index: 2;
        }

        .section__center_right_background-4 {
            position: absolute;
            top: 257.5vh;
            left: 50vw;
            width: 5vw;
            height: 90vh;
            background-color: #fff;
            z-index: 2;
        }

        .section__center_right_background-5 {
            position: absolute;
            top: 357.5vh;
            left: 50vw;
            width: 5vw;
            height: 42.5vh;
            background-color: #fff;
            z-index: 2;
        }
    }

    .section__right {
        position: relative;
        font-size: 1.4vw;
        text-align: center;


        & h2 {
            color: $red;
        }

        & p {
            color: #616161;
            text-align: justify;
        }

        .section__right_one {
            position: absolute;
            left: 0;
            top: 100vh;
            padding: 9vh 8.5vw;
        }

        .section__right_two {
            position: absolute;
            left: 0;
            padding: 9vh 8.5vw;
        }

        .section__right_three {
            position: absolute;
            top: 200vh;
            left: 0;
            padding: 9vh 8.5vw;

            & a {
                color: $red;
            }

            & a:hover {
                color: $blue;
            }

        }

        .section__right_four {
            position: absolute;
            top: 300vh;
            left: 0;
            padding: 9vh 8.5vw;
        }
    }

    .parallax [class*="parallax__"] {
        position: relative;
        height: 100vh;
        background-attachment: fixed;
        background-position: top left;
        background-size: auto 100vw;
        background-repeat: no-repeat;
        left: 0;
    }

    .parallax .parallax__one {
        background-image: url(img/index/pic_1.JPG);
        background-size: 50vw;
    }

    .parallax .parallax__two {
        background-image: url(img/index/pic_2.JPG);
        background-size: 50vw;
    }

    .parallax .parallax__three {
        background-image: url(img/index/pic_3.JPG);
        background-size: 50vw;
    }

    .parallax .parallax__four {
        background-image: url(img/index/pic_4.JPG);
        background-size: 50vw;
    }
}


.footer {
    background-color: rgba(0, 0, 0, 0.85);
    padding-bottom: 3vh;
    color: #fff;
    min-height: 100vh;
    min-width: 100%;
    position: relative;
    overflow: hidden;

    #background_video {
        position: fixed;
        left: 0;
        top: 0;
        min-width: 100%;
        min-height: 100%;
        overflow: hidden;
        z-index: -1;
    }

    .footer__play-game {
        display: none;
    }

    .footer__header {
        font-size: 8.8vw;
        font-weight: bold;
        text-align: center;
        padding: 7vw;
        text-transform: uppercase;
        line-height: 0.8;

        #footer__header_1 {
            transform: translate(300%, 0);
            opacity: 0;
            transition: all 0.6s ease 0s;
        }

        #footer__header_2 {
            transform: translate(-300%, 0);
            opacity: 0;
            transition: all 0.6s ease 0s;
        }

        #footer__header_3 {
            transform: translate(300%, 0);
            opacity: 0;
            transition: all 0.6s ease 0s;
        }

        #footer__header_1.active,
        #footer__header_2.active,
        #footer__header_3.active {
            opacity: 1;
            transform: translate(0, 0);
        }

        & span {
            color: transparent;
            -webkit-text-stroke: 1px #fff;
            text-stroke: 1px #fff;
        }
    }

    .footer__contacts {
        display: flex;
        width: 100%;
        justify-content: space-around;
        position: absolute;
        bottom: 4vh;

        #footer__contact_1 {
            transform: translate(0, -100%);
            opacity: 0;
            transition: all 0.2s ease 0.2s;
        }

        #footer__contact_2 {
            transform: translate(0, -140%);
            opacity: 0;
            transition: all 0.2s ease 0.3s;
        }

        #footer__contact_3 {
            transform: translate(0, -180%);
            opacity: 0;
            transition: all 0.2s ease 0.4s;
        }

        #footer__contact_4 {
            transform: translate(0, -220%);
            opacity: 0;
            transition: all 0.2s ease 0.5s;
        }

        #footer__contact_1.active,
        #footer__contact_2.active,
        #footer__contact_3.active,
        #footer__contact_4.active {
            opacity: 1;
            transform: translate(0, 0);
        }

        & a:hover img {
            transform: rotateY(180deg);

        }

        & img {
            height: 9vh;
            transition: all 0.6s ease 0s;
        }
    }
}